<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assignments/ecac/stylesheets/style.css">
        <title>Cats</title>
    </head>
    <body>
        <div>
            <% for(let i=0; i<cats.length; i++){ %>
                <img src="/assignments/ecac/images/<%= cats[i] %>">
            <% } %>
        </div>
        <a href="/assignments/ecac/cars">Back</a>
        <a href="/assignments/ecac/form">Form</a>
    </body>
</html>